.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 50px;

  grid-template-areas:
    "sidebar toolbar"
    "sidebar main"
    "sidebar footer";
  height: 100vh;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  background-color: var(--bg);
}
.sidebar {
  grid-area: sidebar;
  background-color: var(--s-bg);
  border-right: 1px solid var(--border);
}
.toolbar {
  grid-area: toolbar;
  background-color: var(--s-bg);
  border-bottom: 1px solid var(--border);
}
.main {
  grid-area: main;
  overflow-y: auto;
  padding: 1.5rem;
}
.footer {
  grid-area: footer;
  background-color: var(--s-bg);
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}
